<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html">
   <h:body>
      <h2>This is Page1</h2>
      <h:form>
         <h1>Read Only input TextBox</h1>
         <h:inputText value="This is a text box " readonly="true" />
         <h2>Normal Text Box is here</h2>
         <h:inputTextarea value=""/>
         
         
      </h:form>
      
      
      <script type="text/javascript">
      function showHiddenValue(){
          alert(document.getElementById('ikinciFrom:hiddenText').value);
          }
      </script>
      <h:form id="ikinciFrom">
      <h3>Get Value from inputhidden field
      </h3>
      <h:inputHidden value="Çok gizli" id ="hiddenText" />
      <h:commandButton value="Click to show hiddenText" onclick="showHiddenValue()" />
      
      
      
      </h:form>
   </h:body>
</html>
